# Other Functionalities on Indexes

In [1]:
import numpy as np
import pandas as pd

In this section you will analyze in detail a number of basic features that take advantage of this
mechanism of the indexes. <br>
• Reindexing <br>
• Dropping <br>
• Alignment

---

## Reindexing

In [2]:
ser = pd.Series([2,5,7,4], index=['one','two','three','four'])
ser

one      2
two      5
three    7
four     4
dtype: int64

In [3]:
ser.reindex(['three','four','five','one'])

three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64

In [4]:
ser3 = pd.Series([1,5,6,3],index=[0,3,5,6])
ser3

0    1
3    5
5    6
6    3
dtype: int64

In [5]:
ser3.reindex(range(7), method='ffill')

0    1
1    1
2    1
3    5
4    5
5    6
6    3
dtype: int64

In [7]:
ser3.reindex(range(7), method='bfill')

0    1
1    5
2    5
3    5
4    6
5    6
6    3
dtype: int64

In [11]:
ser3.reindex(index=range(7), method='nearest')

0    1
1    1
2    5
3    5
4    6
5    6
6    3
dtype: int64

In [12]:
data = {'color' : ['blue','green','yellow','red','white'],
        'object' : ['ball','pen','pencil','paper','mug'],
        'price' : [1.2,1.0,0.6,0.9,1.7]}
frame = pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [13]:
frame.reindex(index=range(5), columns=['color', 'object', 'new', 'price'])

    color  object  new  price
0    blue    ball  NaN    1.2
1   green     pen  NaN    1.0
2  yellow  pencil  NaN    0.6
3     red   paper  NaN    0.9
4   white     mug  NaN    1.7

---

## Dropping

Pandas provides a specific function for this operation: drop( ). This method will return
a new object without the items that you want to delete.

In [15]:
ser = pd.Series(np.arange(4.), index=['red','blue','yellow','white'])
ser

red       0.0
blue      1.0
yellow    2.0
white     3.0
dtype: float64

In [16]:
ser.drop('yellow')

red      0.0
blue     1.0
white    3.0
dtype: float64

In [17]:
ser.drop(['yellow', 'blue'])

red      0.0
white    3.0
dtype: float64

In [19]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [20]:
frame.drop(['red', 'yellow'])

       ball  pen  pencil  paper
blue      4    5       6      7
white    12   13      14     15

In [21]:
frame.drop('ball', axis=1)

        pen  pencil  paper
red       1       2      3
blue      5       6      7
yellow    9      10     11
white    13      14     15

In [22]:
frame.drop('blue', axis=0)

        ball  pen  pencil  paper
red        0    1       2      3
yellow     8    9      10     11
white     12   13      14     15

---

## Arithmetic and Data Alignment

In [23]:
s1 = pd.Series([3,2,5,1],['white','yellow','green','blue'])
s2 = pd.Series([1,4,7,2,1],['white','yellow','black','blue','brown'])

In [24]:
s1

white     3
yellow    2
green     5
blue      1
dtype: int64

In [25]:
s2

white     1
yellow    4
black     7
blue      2
brown     1
dtype: int64

In [31]:
df = pd.DataFrame([s1, s2])

In [32]:
df = df.T

In [33]:
df

          0    1
white   3.0  1.0
yellow  2.0  4.0
green   5.0  NaN
blue    1.0  2.0
black   NaN  7.0
brown   NaN  1.0

In [34]:
s1 + s2

black     NaN
blue      3.0
brown     NaN
green     NaN
white     4.0
yellow    6.0
dtype: float64

In [35]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index=['red','blue','yellow','white'],
                      columns=['ball','pen','pencil','paper'])
frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),
                      index=['blue','green','white','yellow'],
                      columns=['mug','pen','ball'])

In [36]:
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [37]:
frame2

        mug  pen  ball
blue      0    1     2
green     3    4     5
white     6    7     8
yellow    9   10    11

In [38]:
frame1 + frame2

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

---

# Important Points

- object.reindex, to use a new index. preserving index-value pairs
- reindex can be used for index labels or column labels
- index is immutable object
- object.drop:
    - for Series, specifies the index label
    - for DataFrame, drop takes index and column
    - object.drop('row_label', axis=0)
    - object.drop('column_label', axis=1)
- operations in Series and DataFrame preserves index label and column label